.Drag {
    display: flex;
    justify-content: space-around;
    .DragTarget {
        border: 1px solid red;
        position: relative;
        & > .Box {
            position: absolute;
            border: 2px dashed #888;
            text-align: center;
            cursor: grab;
            .Circle {
                position: absolute;
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50px;
                border: 2px solid #458fe2;
                cursor: pointer; 
            }
            .xRCircle {
                right: -10px;
                top: 50%;
            }
            .xLCircle {
                left: -10px;
                top: 50%;
            }
            .yTCircle {
                left: 50%;
                top: -11px;
            }
            .yBCircle {
                left: 50%;
                bottom: -11px; 
            }
        }
    }
    .DragItem {
        border: 1px solid green;
        width: 200px;
        & > ul {
            li {
                list-style: none;
                padding: 10px 0;
                text-align: center;
                font-size: 18px;
                border-bottom: 1px solid #ddd;
                cursor: grab;
            }
        }
    }
}